/*This is the header section/nav bar*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 1% 0;
  background-color: rgb(0, 128, 111);
  color: white;
}

header h1 {
  margin-right: auto;
  border: 3px solid black;
  padding: 5px;
  background-color: black;
}

header nav {
  display: flex;
  padding-right: 10%;
}

header ul {
  display: flex;
  padding: 0;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

header nav ul li {
  margin-left: 100px;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}
/*This is the main section for the aside content and the section content*/
main {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1%;
}

main aside {
  width: 25%;
}

main section {
  width: 75%;
}
/*This is the aside section for the headers to the main content*/
aside {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 30px;
}

aside h2,
h3,
h4 {
  padding: 0 20px;
}

aside img {
  display: flex;
  max-width: 50%;
  padding: 0 20px;
}
/*This is the section tag part which is for the main content*/
section p {
  display: flex;
  padding: 10% 5%;
  font-size: 24px;
}

section a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5% 5%;
}

section li {
  margin-left: 1% 1%;
  padding: 10% 0;
}

section li a {
  text-decoration: none;
  color: black;
}
/*Footer for the bottom of the page.*/
footer {
  display: flex;
  justify-content: center;
  padding: 5% 10%;
}
/*These are class attributes which are for any section*/
.mainimg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
  padding: 5% 5%;
}

.featureproject {
  width: 100%;
}

.verticalLine {
  border-right: thick solid black;
  padding-right: 10px;
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-box img {
  display: flex;
  width: 90%;
  padding: 5% 5%;
}

.contentborder {
  border: double rgb(0, 128, 111);
  border-width: 5px;
}

/*This is the media screen resolution section for different devices*/
@media screen and (max-width: 480px) {
  header {
    padding: 5px 0;
  }

  header h1 {
    margin: 0; /* Remove margin for the h1 element */
    border: none; /* Remove border for the h1 element */
    padding: 5px; /* Adjust padding for the h1 element */
  }

  header nav ul li {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin: 5px 10px 5px 10px; /* Adjust margin for the list items in the navigation */
    padding-right: 20px;
  }

  main aside {
    width: 100%; /* Make the aside element full width */
  }

  main section {
    width: 100%; /* Make the section element full width */
    border-left: none; /* Remove the border on the left side */
  }

  section p {
    padding: 5% 2%; /* Adjust padding for the paragraphs in the section */
    font-size: 10px; /* Adjust font size for the paragraphs */
  }

  section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10% 5%;
  }

  section li {
    margin: 5px 0; /* Adjust margin for the list items in the section */
  }
  .verticalLine {
    border-right: thick solid black;
    padding-right: 40px;
  }
  aside {
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
  }
  aside img {
    display: flex;
    max-width: 50%;
    padding: 0 20px;
  }
  footer {
    display: flex;
    padding-left: 10%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  header {
    padding: 5px 0; /* Adjust padding for the header */
  }

  header h1 {
    margin: 0; /* Remove margin for the h1 element */
    border: none; /* Remove border for the h1 element */
    padding: 5px; /* Adjust padding for the h1 element */
  }

  header nav ul li {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin: 5px 10px 5px 10px; /* Adjust margin for the list items in the navigation */
    padding-right: 20px;
  }

  main aside {
    width: 100%; /* Make the aside element full width */
  }

  main section {
    width: 100%; /* Make the section element full width */
    border-left: none; /* Remove the border on the left side */
  }

  section p {
    padding: 5% 2%; /* Adjust padding for the paragraphs in the section */
    font-size: 14px; /* Adjust font size for the paragraphs */
  }

  section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10% 5%;
  }

  section li {
    margin: 5px 0; /* Adjust margin for the list items in the section */
  }
  .verticalLine {
    border-right: thick solid black;
    padding-right: 40px;
  }
  aside {
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
  }
  aside img {
    display: flex;
    max-width: 50%;
    padding: 0 20px;
  }
  footer {
    display: flex;
    padding-left: 10%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 5px 0; /* Adjust padding for the header */
  }

  header h1 {
    margin: 0; /* Remove margin for the h1 element */
    border: none; /* Remove border for the h1 element */
    padding: 5px; /* Adjust padding for the h1 element */
  }

  header nav ul li {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin: 5px 10px 5px 10px; /* Adjust margin for the list items in the navigation */
    padding-right: 20px;
  }

  main aside {
    width: 100%; /* Make the aside element full width */
  }

  main section {
    width: 100%; /* Make the section element full width */
    border-left: none; /* Remove the border on the left side */
  }

  section p {
    padding: 5% 2%; /* Adjust padding for the paragraphs in the section */
    font-size: 20px; /* Adjust font size for the paragraphs */
  }

  section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10% 5%;
  }

  section li {
    margin: 5px 0; /* Adjust margin for the list items in the section */
  }
  .verticalLine {
    border-right: thick solid black;
    padding-right: 40px;
  }
  aside {
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
  }
  aside img {
    display: flex;
    max-width: 20%;
    padding: 0 20px;
  }
  footer {
    display: flex;
    padding-left: 10%;
    padding-bottom: 5%;
  }
}
